.Rproj.user
hierarch_diagram.aux
hierarch_diagram.log
hierarch_diagram.synctex.gz
hierarch_diagram.pdf
README.html
hierarch_diagram_framedBoxes.aux
hierarch_diagram_framedBoxes.log
hierarch_diagram_framedBoxes.synctex.gz
hierarch_diagram_framedBoxes.pdf