.Rproj.user
.Rhistory
.RData
DBDA_hierach_diagram.Rproj
hierarch_diagram.aux
hierarch_diagram.log
hierarch_diagram.synctex.gz
hierarch_diagram.pdf
pgfmanual.pdf
DBDA_hierarch_diagram_PROTO.R
MiniPlots/*
README.html
